{% extends 'base.html.twig' %}

{% block title %}Toutes les categories
{% endblock %}

{% block body %}
	<div class="container">
		<h1>
			Portfolio</h1>
		<div class="row">
			<div class="card-group">
				{% for categorie in portfolios %}
					{% set img = categorie.peintures | last %}
					<div class="col-4 my-3">
						<div class="card h-100">
							<img src="{{ img.file }}" class="card-img-top" alt="image  réalisation">
							<div class="card-body">
								<h5 class="card-title">{{ categorie.nom }}</h5>
								<p class="card-text">{{ categorie.description | u.truncate(200,'...',false) }}</p>
								<div class="d-grid gap-2 col-6 mx-auto">
									<a class="btn btn-primary" href="{{ path('peintures_categorie', {'slug': categorie.slug}) }}">Découvrir les articles   -></a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
