{% extends 'base.html.twig' %}

{% block title %}connexion!
{% endblock %}

{% block body %}
	{# <form method="post">
	    {% if error %}
	        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	    {% endif %}
	
	    {% if app.user %}
	        <div class="mb-3">
	            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
	        </div>
	    {% endif %}
	
	    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
	    <label for="inputEmail">Email</label>
	    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
	    <label for="inputPassword">Password</label>
	    <input type="password" name="password" id="inputPassword" class="form-control" required>
	
	    <input type="hidden" name="_csrf_token"
	           value="{{ csrf_token('authenticate') }}"
	    >
	
	    {#
	        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
	        See https://symfony.com/doc/current/security/remember_me.html
	
	        <div class="checkbox mb-3">
	            <label>
	                <input type="checkbox" name="_remember_me"> Remember me
	            </label>
	        </div>
	  
	
	    <button class="btn btn-lg btn-primary" type="submit">
	        Sign in
	    </button>
	</form> #}

	<div id="login">
		<h3 class="text-center text-white pt-5">Formulaire de connexion</h3>
		<div class="container">
			<div id="login-row" class="row justify-content-center align-items-center">
				<div id="login-column" class="col-md-6">
					<div id="login-box" class="col-md-12">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
						<form id="login-form" class="form" action="" method="post">
							<h3 class="text-center text-info">Authentification</h3>
							<div class="form-group">
								<label for="username" class="text-info">Email:</label><br>
								<input type="email" name="email" value="{{ last_username }}" id="username" class="form-control">
							</div>
							<div class="form-group">
								<label for="password" class="text-info">Password:</label><br>
								<input type="password" name="password" id="password" class="form-control">
							</div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<div class="form-group">
								<label for="remember-me" class="text-info">
									<span>Remember me </span>
									<input id="remember-me" class="ml-3" name="_remember_me" type="checkbox">
								</label><br>
								<input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
							</div>
							<div id="register-link" class="text-center">
								<a href="#" class="text-info">Register here</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

