<div class="container">
	<h3>
		Dernières actualités</h3>
	<div class="row row-cols-1 row-cols-md-3 g-4">
		{% for blogpost in troisDerniersBlogposts %}
			<div class="col ml-2">
				<div class="card h-100">
					<div class="card-body">
						<h5 class="card-title">{{ blogpost.titre }}</h5>
						<p class="card-text">{{ blogpost.contenu | u.truncate(200,'...',false) }}</p>
						<p class="card-text">
							<small class="text-muted">
								Publiée le
								{{ blogpost.createAt | date('d/m/Y')}}</small>
						</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
