<div class="container">
	<h3>Mes réalisations
	</h3>
	<div class="row my-2">
		<div class="card-group">
			{% for peinture in troisDernieresPeintures %}
				<div class="col">
					<div class="card h-100">
						<img src="{{ peinture.file }}" class="card-img-top" alt="image  réalisation">
						<div class="card-body">
							<h5 class="card-title">{{ peinture.nom }}</h5>
							<p class="card-text">{{ peinture.description | u.truncate(200,'...',false) }}</p>
							<p class="card-text">
								<small class="text-muted">
									Publiée le
									{{ peinture.date | date('d/m/Y')}}</small>
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
