<div class="container">
	<div class="card my-2">
		<img src="http://via.placeholder.com/50" class="card-img-top" alt="image de fond d'accueil">
		<div class="card-body">
			<h5 class="card-title"> Site de disgn </h5>
			<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
             <div class="d-grid gap-2 col-6 mx-auto">
                 <button class="btn btn-primary" type="button">Découvrir mon portfolio   -></button>	
            </div>     		
        </div>
	</div>
</div>