<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#"><img src="https://via.placeholder.com/150" alt="Image d'accueil"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" wfd-id="654">
		<span class="navbar-toggler-icon" wfd-id="448"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor03" wfd-id="438">
		<ul class="navbar-nav mr-auto" wfd-id="440">
			<li class="nav-item active" wfd-id="446">
				<a class="nav-link" href="{{path('realisations')}}">Réalisations</a>
			</li>
			<li class="nav-item" wfd-id="445">
				<a class="nav-link" href="{{ path('actualites')}}">Actualités</a>
			</li>
			<li class="nav-item dropdown" wfd-id="441">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="{{path('port_folio')}}" role="button" aria-haspopup="true" aria-expanded="false">Portfolio</a>
				<div class="dropdown-menu" wfd-id="442">
					{% for categorie in categorieRepo.findAll() %}
						<a class="dropdown-item" href="{{path('peintures_categorie',{'slug':categorie.slug})}}">{{categorie.nom}}</a>
					{% endfor %}
					<div class="dropdown-divider"></div>
					{# <a class="dropdown-item" href="#">Separated link</a> #}
				</div>
			</li>
			<li class="nav-item" wfd-id="443">
				<a class="nav-link" href="{{ path('apropos')}}">A propos</a>
			</li>
		</ul>
	</div>
	<div>
		<a class="btn btn-primary my-2 my-sm-0" href="{{ path('me_contacter') }}" >Me contacter</a>
	</div>
</nav>
