{% extends 'base.html.twig' %}

{% block title %}A propos
{% endblock %}

{% block body %}
	<div class="container">
		<h1>A propos de moi</h1>
		<div class="row">
			<div class="col-8 my-2">
				<img src="http://via.placeholder.com/150" alt="image de profil">
			</div>
			<div class="col-8">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">{{ peintre.getFullName() }}</h5>
						<h6 class="card-subtitle mb-2 text-muted">Peintre professionnel depuis 30 ans</h6>
						<p class="card-text">{{ peintre.apropos }}</p>
						<span class="text-small">
							Téléphone:
							{{ peintre.telephone}}</span>
						<br>
						<span class="text-small">
							Email:
							{{ peintre.email }}</span>
						<p>
							Me suivre sur
						</p>
						<br>
						<a href="https://www.linkedin.com" class="card-link">linkedin</a>
						<a href="{{peintre.instagram}}" class="card-link">Instagram</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
