{% extends 'base.html.twig' %}

{% block title %} les actualités
{% endblock %}

{% block body %}
	<div class="container">
		<h3>
			Dernières actualités</h3>
		<div class="row row-cols-1 row-cols-md-3 g-4">
			{% for blogpost in blogposts %}
				<div class="col ml-2">
					<div class="card h-100">
						<div class="card-body">
							<h5 class="card-title">{{ blogpost.titre }}</h5>
							<p class="card-text">{{ blogpost.contenu | u.truncate(200,'...',false) }}</p>
							<p class="card-text">
								<small class="text-muted">
									Publiée le
									{{ blogpost.createAt | date('d/m/Y')}}</small>
							</p>
							<a href="{{ path('detail_blogpost',{'slug':blogpost.slug})}}" class="btn btn-secondary">Détail</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="d-flex justify-content-center my-3">
		{% do  blogposts.setPageRange(2) %}
		{{ knp_pagination_render(blogposts, 'base/pagination.html.twig') }}
	</div>
{% endblock %}
