{% extends "base.html.twig" %}
{% block title %}
	le détail blog post
	{{ blogpost.titre}}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-8">
				<div class="card-group">
					<div class="card my-2">
						<div class="card-body">
							<h5 class="card-title">{{ blogpost.titre }}</h5>
							<p class="card-text">{{ blogpost.contenu | u.truncate(200,'...',false) }}</p>
							<p class="card-text">
								<small class="text-muted">
									Publiée le
									{{ blogpost.createAt | date('d/m/Y')}}</small>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
