{% extends 'base.html.twig' %}

{% block title %}Formulaire de contact
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Me contacter</h1>
        {{ form_start(form) }}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
		{{ form_label(form.prenom) }}
		{{ form_widget(form.prenom) }}
		{{ form_label(form.nom) }}
		{{ form_widget(form.nom) }}
		{{ form_label(form.email) }}
		{{ form_widget(form.email) }}
		{{ form_label(form.message) }}
		{{ form_widget(form.message) }}
        <div class="text-center my-3">
         {{ form_row(form.envoyer)}}
        </div>
		{{ form_rest(form) }}
		{{ form_end(form) }}
	</div>
{% endblock %}
