<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-with,initial-scale=1">
        <link rel="shortcut icon" href="#"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
     
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include "base/nav.html.twig" %}
        {% block body %}{% endblock %}
        {% include "base/footer.html.twig" %}
    </body>
</html>
