{% extends "base.html.twig" %}
{% block title %}
	le détail de la réalisation
	{{ peinture.nom}}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-8">
				<div class="card-group">
					<div class="card my-2">
						<div class="card-body">
							<h5 class="card-title">{{ peinture.nom }}</h5>
							<p class="card-text">{{ peinture.description | u.truncate(200,'...',false) }}</p>
							<p class="card-text">Largeur:
								{{ peinture.largeur  }}
								et Heuteur:
								{{ peinture.hauteur}}</p>
							{% if peinture.enVente %}
							{% endif %}
								<span class="card-text">Prix:
									{{ peinture.prix}}
								</span>
							<p class="card-text">
								<small class="text-muted">
									Publiée le
									{{ peinture.date | date('d/m/Y')}}</small>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-8">
				<img src="{{ peinture.file }}" alt="{{ peinture.nom }}">
			</div>
		</div>
	</div>
{% endblock %}
