{% extends 'base.html.twig' %}

{% block title %}Toutes les peintures
{% endblock %}

{% block body %}
	<div class="container">
		<h3>Mes réalisations</h3>
		<div class="row">
			<div class="card-group">
				{% for peinture in peintures %}
					<div class="col-4 my-3">
						<div class="card h-100">
						    <a href="{{ path('detail_realisation', {'slug': peinture.slug }) }}">
							 <img src="{{ peinture.file }}" class="card-img-top" alt="image  réalisation">
							</a>
							<div class="card-body">
								<h5 class="card-title">{{ peinture.nom }}</h5>
								<p class="card-text">{{ peinture.description | u.truncate(200,'...',false) }}</p>
								<p class="card-text">
									<small class="text-muted">
										Publiée le
										{{ peinture.date | date('d/m/Y')}}</small>
										<a href="{{ path('detail_realisation',{'slug':peinture.slug})}}" class="btn btn-primary">Détail</a>
								</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-center my-3">
		{% do  peintures.setPageRange(2) %}
		{{ knp_pagination_render(peintures, 'base/pagination.html.twig') }}
	</div>
{% endblock %}
